LAB1/.devcontainer/
LAB1/.vscode/
LAB1/build/

LAB2/.devcontainer/
LAB2/.vscode/
LAB2/build/

LAB3/.devcontainer/
LAB3/.vscode/
LAB3/build/

LAB4/.devcontainer/
LAB4/.vscode/
LAB4/build/

LAB5/.devcontainer/
LAB5/.vscode/
LAB5/build/

LAB6/.devcontainer/
LAB6/.vscode/
LAB6/build/
